section#revs
	.container
		img.general-img.general-img-revs-1(src=path+"img/images/ellipse.png", alt="Элипс")
		img.general-img.general-img-revs-2(src=path+"img/images/ellipse.png", alt="Элипс")
		+gt('','Видео-отзывы')
		.owl-carousel.owl-theme#video-revs
			each n, index in {1:'nLoNlLUlC1U',2: 'AXWKp131Lc4',3: 'QMaZsNzTLBw',5: 'B_NHWneVtJA',6: '23wuzK2PtHI',7: 'bk7BXao164g',8: '5kCyZIfkSp4',9: 'RsbQk2rJH1k',10: '7DeIMDUjejU'}
				.video-wrapper.video-wrapper-rev(data-youtube=n data-img=path+"img/revs/video-"+index+".jpg")
					img(src=path+"img/revs/video-"+index+".jpg", alt="Видео отзыв " + index)
		+gt('general-title-revs','Отзывы')
		.owl-carousel.owl-theme#text-revs
			each n in [1,2,3,4,5,6,7,8,9,10]
				a( href=path+"img/revs/text-"+n+".jpg" data-fancybox="revs").text-rev-link
					img.text-rev-img( src=path+"img/revs/text-"+n+".jpg" alt="Отзыв " + n)