section#name-title
	img(src="img/icons/title.png", alt="").name-title-img

mixin ben(cl,h4,p)
	.general-ol(class=cl)
		h4.general-ol-title=h4
		p.general-ol-text=p

section#benefits
	.container
		img(src=path+"img/images/grass.png", alt="Трава").general-img.general-img-benefits-1
		img(src=path+"img/images/ellipse.png", alt="Трава").general-img.general-img-benefits-2
		+gt('','Преимущества обучения')
		.row
			.col-md-4.col-sm-4
				+ben('','1','Это возможность получить новую профессию, востребованную в современных реалиях.')
				hr.hr-mobile
			.col-md-4.col-sm-4
				+ben('','2','Успешно окончив обучение, Вы сможете сменить работу, получив достойный источник дохода.')
				hr.hr-mobile
			.col-md-4.col-sm-4
				+ben('','3','Вы начнете практиковать полученные знания уже с первых занятий.')
				hr.hr-mobile
		hr.hr-desktop
		.row
			.col-md-4.col-sm-4
				+ben('','4','Обучение проходит в формате видео уроков и онлайн сессий с подробным разбором всех Ваших вопросов.')
				hr.hr-mobile
			.col-md-4.col-sm-4
				+ben('','5','Поддержка опытных практикующих психологов на всех этапах обучения.')
				hr.hr-mobile
			.col-md-4.col-sm-4
				+ben('','6','Получение диплома государственного образца по окончанию курса.')
				hr.hr-mobile
		hr.hr-desktop
		.row
			.col-md-4.col-sm-4
				+ben('','7','Поддержка опытных практикующих психологов на всех этапах обучения.')
				hr.hr-mobile
			.col-md-8.col-sm-8
				+ben('','8','Курс разбит на три модуля после каждого модуля дополнительно, выдается сертификат, подтверждающий полученную специализацию. Это означает что  уже по окончанию первого модуля у Вас есть возможность применить на практике полученные знания.')